@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

$font-stack: open sans, sans serif;
$primary-color: whitesmoke
;


body { 
    font: 100% $font-stack;
    color: $primary-color;
    background-color: rgb(0, 0, 0);
    width: 100%;
        
   
} 

.imgcl {
    width: 300px;
    height: 300px;
}


























footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}