*{
    margin: 0;
    padding: 0;
}

.imgnav { 
    border-radius: 50%;
    width: 100%;
   /* height: 200px;*/
}


.bodyindex { 
    display: grid;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: whitesmoke;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: 
    "nav1 main1"
    "nav2 main2"
    "nav3 main3"
    "nav4 main4"
    "nav5 footer"
    ;
    grid-gap: 30px;
    
} 

.sections {
    display: grid;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: whitesmoke;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: 
    "nav1 mainst1"
    "nav2 mainst2"
    "nav3 mainst3"
    "nav4 mainst4"
    "nav5 footer"
    ;

}
.nav1:hover {filter: opacity(.5);}
.nav1 {
    grid-area: nav1;
    display: flex;
    align-items: center;
}
.nav2:hover {filter: opacity(.5);}
.nav2 {
    grid-area: nav2;
    display: flex;
    align-items: center;
}
.nav3:hover {filter: opacity(.5);}
.nav3 {
    grid-area: nav3;
    display: flex;
    align-items: center;
}
.nav4:hover {filter: opacity(.5);}
.nav4 {
    grid-area: nav4;
    display: flex;
    align-items: center;
}
.nav5:hover {filter: opacity(.5);}
.nav5 { 
    grid-area: nav5;
    display: flex;
    align-items: center;
}


.head {
    grid-area: main1;
}
.head{
    display: flex;
    justify-self: center;
    width: 300px;
    height: 300px;
    background-image: url(../media/icons/bienvenida.png);
    background-size: 100% 100%;
    border-radius: 20px;
}


.main2{
    grid-area: main2;
}

.minigallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.eva:hover {filter: opacity(.5);}
.eva {
    width: 500px;
    height: 200px;
}
.godz:hover {filter: opacity(.5);}
.godz {
    width: 500px;
    height: 200px;
}

.main3 {
    grid-area: main3;
    display: flex;
    flex-direction: row;
}

.galeria {
    grid-area: main4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.controller:hover {filter: opacity(.5);}
.controller {
    width: 300px;
    height: 300px;
}
.keyboard:hover {filter: opacity(.5);}
.keyboard {
    width: 300px;
    height: 300px;
}
.doom:hover {filter: opacity(.5);}
.doom {
    width: 300px;
    height: 300px;
}
.metroyard:hover {filter: opacity(.5);}
.metroyard {
    width: 300px;
    height: 300px;
}

.mainst1 {
    grid-area: mainst1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imgst {
    width: 200px;
    height: 200px;
}



.mainst2 {
    grid-area: mainst2;
    display: flex;
    align-items: center;

}

.mainst3 {
    grid-area: mainst3;
    display: flex;
    align-items: center;
}

.mainst4 {
    grid-area: mainst4;
    display: flex;
    align-items: center;
}

.nav {
    grid-area: nav;
}



























footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}